@import 'public/styl/*'

body 
  font-family 'IM Fell English SC', serif 
  color beertext 

button 
  margin-left 0.25rem
  margin-right 0.25rem

#beer-form-wrapper
  margin-top 5rem
  margin-bottom 5rem
  
footer 
  min-height 33vh
  background-color rum   
  color whitesmoke
  h1 
    padding-top 3rem
    line-height 3rem
    text-align center
  h5 
    font-style italic
    text-align right

.copyright
  text-align center
  
  color whitesmoke
  background-color rum 

.btn-info  
  background-color rumO 
  border-color rumO 

.btn-info:hover
  background-color rum !important
  border-color rum !important
